@model IEnumerable<Labrary2023.Models.member>

@{
    ViewData["Title"] = "listmember";
}

<h1>listmember</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.joinedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member_State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.joinedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member_State.value_state)
            </td>
            <td>
                    <a asp-action="editmember" asp-route-id="@item.idmeb">Edit</a> |
             
                    <a asp-action="Deletemember" asp-route-id="@item.idmeb">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
