@model IEnumerable<Labrary2023.Models.fine_payment>

@{
    ViewData["Title"] = "listfine_payment";
}

<h1>listfine_payment</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payamount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.singelmember)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatePay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payamount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.singelmember.Fname)
            </td>
            <td>
                    <a asp-action="editfine_payment" asp-route-id="@item.idfi_pa">Edit</a> |
             
                    <a asp-action="Deletefine_payment" asp-route-id="@item.idfi_pa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
